*{
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 50px;
}

.banner-text{
  width: 100%;
  position: absolute;
}
.banner-text ul{
  height: 50px;
  float: right;
}
.banner-text ul li{
  display: inline-block;
  padding: 40px 20px;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
}
.banner-text h2{
  text-align: center;
  color: #000;
  font-size: 50px;
  margin-top: 20%;
  float: center;
}
.animation{
  background: linear-gradient(to left,crimson,lightblue);
  width: 100vw;
  height: 100vh;
}
.box-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;

}
.box-area li:nth-child(1){
  left: 86%;
  width: 80px;
  height: 80px;
animation-delay: 0s;
}

.box-area li:nth-child(2){
  left: 15%;
  width: 40px;
  height: 40px;
animation-delay: 1.5s;
animation-duration: 10s;
}

.box-area li:nth-child(3){
  left: 70%;
  width: 100px;
  height: 100px;
animation-delay: 5.5s;

}

.box-area li:nth-child(4){
  left: 42%;
  width: 150px;
  height: 150px;
animation-delay: 0s;
animation-duration: 15s;
}

.box-area li:nth-child(5){
  left: 65%;
  width: 40px;
  height: 40px;
animation-delay: 0s;
}

.box-area li:nth-child(6){
  left: 15%;
  width: 110px;
  height: 110px;
animation-delay: 3.5s;
}
@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
body{
  margin: 0;
  padding: 0;
  background: crimson;
}
.slidershow{
  width: 720px;
  height: 720px;
  overflow: hidden;
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
.LandingPhoto{
  position:absolute;
   top:25%;
   left:23%;
  width: 512px;
  height: 341px;
}
.LandingPhoto2{
  position:absolute;
   top:65%;
   left:23%;
  width: 400px;
  height: 265px;
}
.instagram{
  position:absolute;
   top:25%;
   left:23%;
}
.FunFacts{
  font-family: cursive;
  font-size: 20px;
  position:absolute;
   top:38%;
   right:25%;
   border-bottom:10px dotted;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width: 300px;
  height: 500px;
}
.ThisIs{
  position:absolute;
   top:70%;
   left:400%;
}
.p {
  font-family: cursive;
  font-size: 20px;
  position:absolute;
   top:38%;
   right:25%;
   border-bottom:10px dotted;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width: 300px;
  height: 500px;
}
.aboutme{
  position:absolute;
   top:26%;
   right:23.5%;
      border-bottom: 10px dotted;
}
header{
  position: fixed;
  top: 0;

  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 75px 75px;
}
.swag{
  left: 420px;
  background: url(images/background2.jpg);
  border: 1px solid black;
  
}
header .logo{

  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li{
  position: relative;
  list-style: none;
}
header ul li  a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
}









.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
